@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
   .div {
  font-family: 'Anek Malayalam', sans-serif;
  
  color: #11052c;
   //display: flex;
   justify-content:center;
  margin: 50px;
  margin-left:20%;
  padding: 0 25px;
}

.quiz-container {
  box-shadow: 5px 4px 8px rgba(168, 123, 172, 0.1);

  justify-content: center;
  background: #ffffff;
  border-radius: 24px;
  border: 3px solid #a43d92;
  margin-top: 100px;
  padding: 20px 47px;
}
.quiz-container p {
 
 
  font-family: "Red Hat Display", sans-serif;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #800080;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #bc7a7aca;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  
  
  
}
.quiz-container h3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  margin: 0;
 
  padding-top: 5px;
  
  
}
.quiz-container dt{
  padding-top: 5px;
  max-height: 50px;
  font-family: "Red Hat Display", sans-serif;

}

.quiz-container h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  margin: 0;
  text-decoration: underline ;
  text-decoration-thickness:auto;
  text-decoration-color: #800080;
  padding-top: 30px;
  
  
}
.quiz-container .answers{
  padding-top: 40px;
  
display:flex;
  justify-content: space-evenly;
  justify-content: center;
  
  
}
.quiz-container {


  ul {
    list-style-type: none;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
}

ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

ul li::before {
    content: "•";
    color: #ff6347;
    font-weight: bold;
    display: inline-block; 
    font-family: "Red Hat Display", sans-serif;
    width: 1em;
    margin-left: -1em;
}

}






.choicebtn {
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.9;
  
  justify-content: space-evenly;
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 5px;
}
.choicebtn:hover{
  opacity: 1;
  border: 1px solid #0c1013;

}
.quiz-container .selected-answer {
  background: #d6dbff;
  border: 1px solid #0c1013;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}


.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
  padding-top: 8px;
}

.result p span {
  color: #800080;
  font-size: 22px;
}
 progress{
  -webkit-appearance: none;
  
}


.progress-container{
  position: relative;
  display: inline-block;
  background: #eee;
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.progress-container::before{
  content: "";
  position: absolute;
  display: inline-block;
  background: red;
  top:0;
  left:0;
  height: 100%;
  width: 50%;
  
  
}
.ranges{
  margin-top: 19px;
}
 .ranges ul {
  display:flex;
  
  margin:0;
}

 .ranges ul li {
  list-style: none;
  color: #6e6e6e;
  text-align: center;
  margin-bottom: 0.625rem;
  border-right: 2px solid #f4f4f4;
  border-left: 2px solid #f4f4f4;
  padding: 0 0.5rem;
  min-width: 6.25rem;
  }
  ul li {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 150%;
  }

  .a {
    margin-top:15px;
    position: relative;
    left:75%;
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 10px 5px 5px 10px;
    background: lightgrey;
    font: 22px Constantia, sans-serif;
    color: rgba(160, 92, 205, 0.844);
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    opacity: 0.9;
  }
  
  .quiz-container a:before,
  .quiz-container a:after {
    content: '';
    position: absolute;
    right: -15px;
    width: 32px;
    height: 15px;
    border-radius: 5px;
    background: lightgrey;
  }
  .quiz-container a:before {
    top: 9px;
    -webkit-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  .quiz-container a:after {
    bottom: 9px;
    -webkit-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  .quiz-container a:hover {
   opacity: 1;
   cursor: pointer;
   
  }
  .assessment-container {
   
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


  
